* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 0 0 5px black;
    transition: red 0.3s ease-in-out;
}

.fundo {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.steamusercontent.com/ugc/940586530515504757/CDDE77CB810474E1C07B945E40AE4713141AFD76/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-size: cover;
    background-position: center;
    filter: brightness(0.35);
    position: fixed;
    z-index: -1;
}

.sla {
    font-size: 50px;
    text-align: center;
    display: block;
}

.tarefa-div {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 125px 0 0 200px;
    border-radius: 20px;
    text-align: justify;
}