* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 5vw, 50px); /* agora a fonte se ajusta automática */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.steamusercontent.com/ugc/940586530515504757/CDDE77CB810474E1C07B945E40AE4713141AFD76/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-size: cover;
    background-position: center;
    filter: brightness(0.35);
    z-index: -1;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: black;
    -webkit-text-stroke: 0.3px white;
}

ul, li {
    list-style: none;
}

.tarefa-div {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10vh 5vw;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    overflow-y: auto;
    max-height: 70vh;
    flex: 1 1 40%;
    min-width: 300px;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
    min-width: 300px;
}

.info-div div {
    margin: 10vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(16px, 4vw, 35px);
}

.info-div div img {
    margin: 15px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-div div img {
        width: 250px;
        height: 250px;
    }

    .tarefa-div {
        display: none !important;
    }

    .cellphone-menu {
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .tarefa-div-cellphone {
        position: fixed;
        padding-top: 80px;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        z-index: 9998;
        transition: all 0.3s ease-in-out;
    }
}

.tarefa-div-cellphone, .cellphone-menu {
    display: none;
}

.tarefa-div-cellphone.mostrar {
    display: flex;
}