* {
    margin: 0;
    padding: 0;
}

.div-pintada {
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(152, 152, 255));
    padding: 50px;
    position: relative;
    text-align: center;
}

.div-pintada img {
    border-radius: 100%;
    width: 125px;
    height: 125px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.div-pintada p {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 2px black;
    display: inline-block;
}

.texto-oculto {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 25px;
    -webkit-text-stroke: 2px rgb(0, 0, 255);
    display: none;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.7), 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.7);
    animation: brilho 1.5s infinite alternate; /* Animação de brilho que o chat gpt fez pra mim */
}

/* Animação de brilho */
@keyframes brilho {
    0% {
        text-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5), 0 0 30px rgba(0, 0, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 20px rgba(0, 0, 255, 1), 0 0 30px rgba(0, 0, 255, 1), 0 0 40px rgba(0, 0, 255, 1);
    }
}

.selecao-jogo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.foto-game {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 8px 8px 10px rgb(0, 0, 255);
    display: inline-block;
    margin-inline-end: 20px;
    transition: all 0.3s ease-in-out;
}

.foto-game:hover {
    width: 550px;
    height: 350px;
    opacity: 0.8;
}

.creditos {
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(152, 152, 255));
    padding: 40px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.creditos p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 2px black;
    text-align: center;
}
